<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
  <mat-form-field>
    <input matInput type="text" ngModel name="title" required minlength="3" placeholder="Enter title" #title="ngModel">
    <mat-error *ngIf="title.invalid">Please enter valid title</mat-error>
  </mat-form-field>
  <mat-form-field>
  <textarea matInput rows="6" ngModel name="content" required minlength="7" placeholder="Enter content" #content="ngModel"></textarea>
  <mat-error *ngIf="content.invalid">Please enter valid content</mat-error>
</mat-form-field>
<hr>
<button mat-raised-button class="btn btn-success" type="submit">Save Post</button>
</form>
</mat-card>
<p></p>
